* { margin: 0; padding: 0; }
button { outline: none; }
html,body {
    background: #F5F5F5;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100% /* 禁止文本缩放 */
-webkit-overflow-scrolling: touch;
    -webkit-text-decoration-line: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* 元素被触摸时产生的半透明灰色遮罩怎么去掉 */
    overflow: hidden;
}

#contentdiv { width: 320px; height: 593px; position: absolute; overflow: hidden; overflow-y: hidden; }
#startdiv { width: 320px; height: 593px; background-image: url(../image/background.jpg); overflow-y: hidden; }
#startdiv button { position: absolute; top: 400px; left: 82px; width: 150px; height: 30px; border: 1px solid black; border-radius: 30px;  background-color: #c4c9ca;  }

#maindiv {  width: 320px; height: 593px; background-image:url(../image/background.jpg); display: none; overflow-y: hidden; }
#maindiv img { position: absolute; z-index: 1; }

#scorediv { font-size: 16px; font-weight: bold; position: absolute; top: 10px; left: 10px; display: none; }
#scorediv { font-size: 18px; font-weight: bold; }

#suspenddiv { position: absolute; top: 210px; left: 82px; display: none; z-index: 2; }
#suspenddiv button { width: 150px; height: 30px; margin-bottom: 20px; border: 1px solid black; border-radius: 30px; background-color: #c4c9ca; }
#enddiv { position: absolute; top: 210px; left: 75px; border: 1px solid gray; border-radius: 5px; text-align: center; background-color:#d7ddde; display: none; z-index: 2; }
.plantext { width: 160px; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold;}
#planscore { width: 160px; height: 80px; line-height: 80px; border-top: 1px solid gray; border-bottom: 1px solid gray; font-size: 16px; font-weight: bold;  }

#enddiv div { width: 160px; height: 50px; }
#enddiv div button { margin-top:10px ; width: 90px; height: 30px; border: 1px solid gray; border-radius: 30px; }
