* { margin: 0; padding: 0; }
@charset "utf-8";
/*	全居设置	*/
html,body { width: 100%; height:100%; -webkit-touch-callout:none; -webkit-user-select: none; -webkit-text-decoration-line:none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-overflow-scrolling: touch; }
html,body { color: #454545; font: 1em/1.5 微软雅黑,Arial, Helvetica, sans-serif; }
html,body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,dl,dt,dd,button,input,textarea,th,td { margin: 0; padding: 0; }
img { border-style: none; }
ul,ol {list-style: none; }
i,em { font-style: normal; }
a {  color: #313131; text-decoration: none; }
a:active,a:hover,a:visited { text-decoration: none; }
a:focus { outline: none; }

/*	IE浏览器下固定定位会闪烁bug	*/
*html { background-image: url(about:blank);	background-attachment: fixed; }

/*	谷歌浏览器取消控制黄色边框	*/
input,button,select,textarea { outline: none; -webkit-appearance: none; }
textarea { resize: none; }

/*	表格元素	*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: text-top; }

/* 重新定义 */
.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }

.hide { display: none; }
.ft-zero { font-size: 0; }
.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
.word-break { white-space: normal; word-break: break-all; word-wrap: break-word; }
.radius { -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }
.opacity { filter: alpha(opacity = 75); -moz-opacity: 0.75; -webkit-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75; }
.shadow { -moz-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px; -webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px; -khtml-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px; box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }


/* 提示柜 */
#tips-box { position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100%; color: #333; background: rgba(0,0,0,0.7); z-index: 9998; }
#tips-box div.alert-wrap { margin: 20% auto 0; width: 85%;  background: #FFF; border-radius: 8px; }
#tips-box div.alert-wrap h3 { padding: 15px; margin-bottom: 0; font-size: 16px; line-height: 1.5; }
#tips-box div.alert-wrap p {  height: 45px; margin: 0 auto; border-top: solid 1px #dcdcdc; line-height: 45px; color: #1f80e9;  font-size: 16px;  text-align: center; }
#tips-box div.alert-wrap p a { display: block; width: 100%; height: auto; color: #6ebde4; }
#tips-box div.alert-wrap p a:hover { color: #6ebde4; background: rgba(0,0,0,0.08); }
#tips-box div.alert-wrap p a:active { color: #6ebde4; background: rgba(0,0,0,0.08); }
#tips-box div.alert-wrap p a:visited { color: #6ebde4; }


#tips-box div.confirm-wrap { margin: 20% auto 0; width: 85%;  background: #FFF; border-radius: 8px; }
#tips-box div.confirm-wrap h3 { padding: 15px; margin-bottom: 0; font-size: 16px; line-height: 1.5; }
#tips-box div.confirm-wrap table { width: 100%; }
#tips-box div.confirm-wrap table tr td:first-child { border-right: solid 1px #dcdcdc; }
#tips-box div.confirm-wrap table tr td { width: 50%; height: 45px; margin: 0 auto; border-top: solid 1px #dcdcdc; line-height: 45px; font-size: 16px;  text-align: center; }
#tips-box div.confirm-wrap table tr td a { display: block; width: 100%; height: auto; color: #6ebde4; }
#tips-box div.confirm-wrap table tr td a:hover { color: #6ebde4; background: rgba(0,0,0,0.08); }
#tips-box div.confirm-wrap table tr td a:active { color: #6ebde4; background: rgba(0,0,0,0.08); }
#tips-box div.confirm-wrap table tr td a:visited { color: #6ebde4; }
#tips-box div.confirm-wrap .thisarea-tel{ display:block; width:100%; height:35px; line-height:35px; color:#fff; font-size:1em; background:#57b174; text-align:center; margin: 8px 0; font-weight: 500; }

/* 排行榜 */
.rank-bg { background: #ffd83b; }
.rank-wrap { width: 100%; height: auto; }
.rank-header { width: 100%; height: auto; margin-bottom: 2%; }
.rank-main { width: 100%; height: auto; }
.rank-main ul { padding: 0 5%; overflow: hidden; }
.rank-main ul li { margin-bottom: 5%; line-height: 45px; background: #FFF; border-radius: 30px; }
.rank-main ul li table { width: 95%; margin: 0 auto; color: #000; }
.rank-main ul li table tr td { vertical-align: middle; }
.rank-main ul li table tr td.rank-no { width: 20px; padding-left: 5px; }
.rank-main ul li table tr td.rank-avater { width: 55px; }
.rank-main ul li table tr td.rank-avater img { display: block; margin: 0 auto; vertical-align: middle; border-radius: 100%; }
.rank-main ul li table tr td.rank-nickname { width: 95px; }
.rank-main ul li table tr td.rank-nickname span { display: block; width: 95px; height: 45px; overflow: hidden; text-overflow:ellipsis; }
.rank-main ul li table tr td.rank-score { padding-right: 5px; }

.rank-footer { padding: 0 5% 5%; }
.rank-footer p {  margin: 2% 0 3%; color: #000; font-size: 0.875em; }
.rank-footer span { padding-top: 5px; padding-bottom: 6px; color: #ff1919; font-size: 0.875em; border-bottom: solid 1px #ff1919; }


/* 朋友圈 */
.friends-wrap { width: 100%; height: auto; }
.friends-header { position: relative; width: 100%; height: auto; }
.friends-header div { position: absolute; top: 13%; left: 0; width: 100%; }
.friends-header div a { display: block; width: 70%; line-height: 48px; margin: 0 auto 15px; color: #000; border-radius: 30px; background-color: #fedf2c; }
.friends-header div a:hover,.friends-header div a:active,.friends-header div a:visited { color: #000; }

.friends-main { width: 100%; height: auto; padding: 10% 0; }
.friends-main table { width: 100%; }
.friends-main table tr td:first-child { width: 55%; }
.friends-main table tr td:first-child { vertical-align: middle; }
.friends-main table tr td:first-child div { padding-left: 10%; }
.friends-main table tr td:first-child div span { padding-bottom: 5px; margin-bottom: 15px; color: #ff1919; font-size: 1.3em; font-weight: bolder; border-bottom: solid 1px #ff1919; }
.friends-main table tr td:first-child div p { color: #000; line-height: 1.2; }
.friends-main table tr td:first-child div p.first-child { padding-top: 10px; }
.friends-main table tr td:first-child div p.last-child { padding-bottom: 1px; }
.friends-main table tr td:first-child div h3 { color: #000; font-size: 1.2em; }
.friends-main table tr td:last-child { width: 45%; }
.friends-main table tr td:last-child img { margin-left: 5%; }

/* 游戏首页 */
.index-wrap { position: absolute;  width: 100%; height: 100%; overflow: hidden; }

.share-box { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); z-index: 11; }

/* 游戏开始界面 */
.begin-wrap { position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: #212a43; background-repeat: no-repeat; background-image: url(../images/index/index_bg.jpg); background-size: 100% auto; overflow-y: hidden; z-index: 10; }
.begin-inner { position: relative; width: 100%; height: 100%; }
.begin-btn-box { position: absolute; left:0; bottom: 0; width: 100%; }
.begin-btn-box span { display: block; width: 80%; line-height: 42px; margin: 0 auto 15px; color: #000; border-radius: 30px; background-color: #fedf2c; }
.begin-btn-box span.begin-btn { background: #FFF; }

/* 游戏积分 */
.score-wrap { position: fixed; top: 10px; left: 15px; width: auto; z-index: 1; }
.score-wrap p { color: #fddc51; font-size: 1.2em; line-height: 1; }
.score-wrap p span.score-name { font-size: 1.4em; font-family: cursive,微软雅黑,Arial, Helvetica, sans-serif; }
.score-wrap p i { margin-right: 10px; }

/* 游戏GG */
.over-wrap { position: fixed; top:0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 10; }
.over-inner { position: relative; width: 100%; height: 100%; }
.over-box-wrap { position: absolute;  top: 50%; left: 0; width: 100%; height: auto; }
.over-wrap div.over-box {  width: 80%; margin: -111.5px auto 0 ;  padding: 15px 0 20px; background: #FFF; border-radius: 30px; }
.over-wrap div.over-box dl { width: 80%; margin: 0 auto; font-size: 1.2em; }
.over-wrap div.over-box dl dt { padding-bottom: 10px; margin-bottom: 15px; color: #ff1919; border-bottom: solid 1px #000;  }
.over-wrap div.over-box dl dd { margin-top: 10px; }
.over-wrap div.over-box dl dd a { display: block; width: 80%; margin: 0 auto; line-height: 38px; color: #000; font-size: 0.875em; background: #ffd83b; border-radius: 20px; }
.over-wrap div.over-box dl dd a:hover,
.over-wrap div.over-box dl dd a:active,
.over-wrap div.over-box dl dd a:visited { color: #333;}

/* 游戏规则 */
.rule-wrap { position: fixed; top:0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 10; }
.rule-inner { position: relative; width: 100%; height: 100%; }
.rule-box-wrap { position: absolute; top: 5%; left: 0; width: 100%; height: auto; }
.rule-box-inner { position: relative; width: 95%; margin: 0 auto; color: #333; background: #ffd83b; border-radius: 5px; overflow-y: scroll;}

.rule-box-wrap span.rule-close-btn { position: absolute; top: -15px; right: 0; display: block; width: 32px; line-height: 32px; color: #FFF; background: #ffd800; border:solid 2px #FFF; border-radius: 100%; z-index: 1;}
.rule-box-inner div.rule-prize-list h1 { padding: 5% 0 2%; font-size: 1.8em; font-weight: bolder; }
.rule-box-inner div.rule-prize-list table { width: 80%; margin: 0 auto; font-size: 0.875em; }
.rule-box-inner div.rule-prize-list table tr td { line-height: 1.8; }
.rule-box-inner div.rule-prize-list table tr td a { color: #ff1919; }
.rule-box-inner div.rule-prize-list table tr td a:hover,
.rule-box-inner div.rule-prize-list table tr td a:active,
.rule-box-inner div.rule-prize-list table tr td a:visited { color: #ff1919; }

.rule-box-inner div.rule-active-time { margin-top: 5%; color: #333; }
.rule-box-inner div.rule-active-time h3 { width: 90%; margin: 0 auto; padding: 2px 0; font-size: 0.875em; line-height: 2; font-weight: normal; background: #ffa10d; border-radius: 5px; }
.rule-box-inner div.rule-active-time p { font-size: 0.875em; line-height: 3.5; }

.rule-box-inner div.rule-info {  padding-bottom: 5%; color: #333; }
.rule-box-inner div.rule-info h3 { width: 90%; margin: 0 auto;  padding: 2px 0; font-size: 0.875em; line-height: 2; font-weight: normal; background: #ffa10d; border-radius: 5px; }
.rule-box-inner div.rule-info ul { width: 90%; margin: 5% auto 0; font-size: 0.875em; line-height: 1.8; }



/*
.over-wrap { position: absolute; top: 210px; left: 75px; border: 1px solid gray; border-radius: 5px; text-align: center; background-color:#d7ddde; display: none; z-index: 2; }
.over-wrap > div { width: 160px; height: 50px; }
.over-wrap > div button { margin-top:10px ; width: 90px; height: 30px; border: 1px solid gray; border-radius: 30px; }
*/

#maindiv { width: 320px; height: 593px; background-image:url(../images/material/background.jpg); display: none; overflow-y: hidden; }
#maindiv img { position: absolute; z-index: 1; }



#suspenddiv { position: absolute; top: 210px; left: 82px; z-index: 11; }
#suspenddiv button { width: 150px; height: 30px; margin-bottom: 20px; border: 1px solid black; border-radius: 30px; background-color: #c4c9ca; }

.plantext { width: 160px; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold;}
#planscore { width: 160px; height: 80px; line-height: 80px; border-top: 1px solid gray; border-bottom: 1px solid gray; font-size: 16px; font-weight: bold;  }


